<div class="login-page">
  <h3 class="mt-0">Login</h3>
  <div class="fields mt-2">
    <div class="email flex flex-column gap-1">
      <label>Email</label>
      <input pInputText type="email" placeholder="test@test.com"/>
    </div>
    <div class="password flex flex-column gap-1 mt-2">
      <label>Password</label>
      <p-password fluid placeholder="*******"/>
    </div>
  </div>
  <div class="pre-actions mt-2 text-right">
    <p-button routerLink="/auth/forgot" link>Forgot password?</p-button>
  </div>
  <div class="actions flex flex-column gap-2 mt-2">
    <p-button class="w-full" fluid>Login</p-button>
    <p-button routerLink="/auth/register" text class="white-space-nowrap" variant="outlined" fluid>
      Don't have an account? Register
    </p-button>
  </div>
</div>
