<div class="forgot-page">
  <h3 class="mt-0">Password Recovering</h3>
  <div class="fields mt-2">
    @switch (state()) {
      @case (ForgotPasswordState.EMAIL) {
        <div class="email flex flex-column gap-1">
          <label>Email</label>
          <input pInputText type="email" placeholder="test@test.com"/>
        </div>
      }
      @case (ForgotPasswordState.CODE) {
        <div class="code flex flex-column gap-1 mt-2">
          <label>Code</label>
          <p-input-otp [length]="6" class="w-full"/>
        </div>
      }
      @case (ForgotPasswordState.PASSWORD) {
        <div class="password flex flex-column gap-1 mt-2">
          <label>Password</label>
          <p-password fluid placeholder="*******"/>
        </div>
        <div class="confirm-password flex flex-column gap-1 mt-2">
          <label>Confirm Password</label>
          <p-password fluid placeholder="*******"/>
        </div>
      }
    }
  </div>

  <div class="actions flex flex-column gap-2 mt-2">
    <p-button (onClick)="goNext()" class="w-full" fluid>Next</p-button>
  </div>
</div>
