.p-toolbar {
  border-top: none;
  border-left: none;
  border-right: none;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}


::ng-deep .menu-item {
  .p-button {
    color: var(--p-surface-200) !important;
  }

  &.active .p-button {
    color: var(--p-primary-500) !important;
  }
}
