:host {
  height: 100vh;
  min-height: 100vh !important;
  overflow: hidden !important;
}

.auth-wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 60% 40%;
}

.auth-card-wrapper {
  min-width: 60%;
  max-width: 80%;
  width: max-content;
  height: max-content;
  margin: auto;
}

.auth-preview-wrapper {
  margin: auto;
  height: max-content;
}
