.auth-wrapper {
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-card {
  min-width: 40vw;
  min-height: 20vh;
  width: max-content;
  margin: auto;
}
