.number {
  font-size: 1.5vw;
  letter-spacing: .15rem;
  white-space: nowrap;
  text-align: justify;
  margin-top: .95rem !important;
}

.setting {
  padding: .65rem;
  width: 100%;
  display: flex;
  gap: .75rem;
  align-items: center;
  font-size: 1.125rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background: var(--p-surface-800);

  & .icon {
    padding: .5rem;
    border-radius: .35rem;
    background: var(--p-surface-600);
  }

  &:hover {
    background: var(--p-surface-700);
  }
}
