<div class="card-details-page py-4">
  <div class="grid">
    <div class="card-preview md:col-6 col-12">
      <p-card class="bg-white mx-auto text-black-alpha-80">
        <ng-template #title>
          <div class="flex justify-content-between align-items-start">
            <div class="flex align-items-center gap-2">
              <h4 class="my-0">{{ card()?.cardType }} card</h4>
              <app-card-status-badge [card]="card()!"/>
            </div>
            <img src="./images/nfc.png" height="30"/>
          </div>
        </ng-template>
        <div class="h-9rem">
          <span class="font-bold text-4xl">{{ card()?.currency }} {{ card()?.balance }}</span>
        </div>
        <ng-template #footer>
          <div class="flex justify-content-between gap-5 align-items-end">
            <div class="w-full text-xl font-semibold text-black-alpha-90">
              <p class="number my-1 w-full text-left">{{ card()?.cardNumber! | cardNumber }}</p>
              <div class="holder_exp flex gap-2">
                <p class="exp my-0">{{ card()?.expirationDate! | expiry }}</p>
              </div>
            </div>
            <div class="provider">
              <img src="./images/{{card()?.provider}}.png" height="50"/>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>

    <div class="transactions md:col-6 col-12">
      <p-card class="h-full">
        <ng-template #title>
          <span class="text-xl font-bold">Transactions</span>
        </ng-template>
        <div class="max-h-20rem overflow-auto">
          <p-data-view [value]="payments()" emptyMessage=" ">
            <ng-template #list let-items>
              <div class="grid grid-cols-12 gap4 grid-nogutter">
                @for (payment of items; track payment.id) {
                  <app-payment-list-item
                    [transaction]="payment"
                    [showReceiverNumber]="false"
                    [showSenderNumber]="false"
                    class="col-12 text-sm m-0 p-0"
                  />
                }
              </div>
            </ng-template>
          </p-data-view>
        </div>
      </p-card>
    </div>
  </div>
  <div class="actions mt-4">
    <p-card>
      <ng-template #title>
        <span class="text-xl font-bold">Settings</span>
      </ng-template>
      <div class="settings-list mt-2">
        @if (card()?.status === CardStatus.blocked) {
          <div class="setting block-card" (click)="unblock()">
            <div class="icon">
              <i class="pi pi-check"></i>
            </div>
            <span class="name">Unblock Card</span>
          </div>
        } @else if (card()?.status === CardStatus.active) {
          <div class="setting block-card" (click)="block()">
            <div class="icon">
              <i class="pi pi-ban"></i>
            </div>
            <span class="name">Block Card</span>
          </div>
        }
      </div>
      <div class="settings-list mt-2">
        @if (card()?.status !== CardStatus.closed) {
          <div class="setting block-card" (click)="close()">
            <div class="icon">
              <i class="pi pi-times"></i>
            </div>
            <span class="name">Close Card</span>
          </div>
        }
      </div>
    </p-card>
  </div>
</div>
