@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'primeflex/primeflex.min.css';
@import "primeicons/primeicons.css";
@import 'app/styles/variables';

html, body {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--p-primary-300);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--p-primary-500) transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--p-primary-500);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--p-primary-600);
}


.p-inputtext.ng-invalid.ng-touched {
  border-color: var(--p-red-500);
  color: var(--p-red-500);

  &::placeholder {
    color: var(--p-red-700);
  }
}

::ng-deep .p-password.ng-invalid {
  & input {
    border-color: var(--p-red-500) !important;
  }
}
